- @posts.each do |post|
  .post
    %h3= link_to post.title, post, class: 'post-title'
    %p.blockquote-footer Created #{time_ago_in_words(post.created_at)} ago.
    %p= post.body.truncate(250)
    - if post.body.length > 250
      = link_to 'Show more', post, class: 'btn btn-sm btn-secondary float-right'
